<div class="test" data-controller="toggle" data-toggle-hidden-class="hidden" data-toggle-highlight-class="highlight">

  <%= button_tag "Click me to hide targeted elements!", data: { action: "toggle#showHide" } %>

  <%# Check button can toggle another element %>
  <%= select_tag "test_select", ["a", "b", "c"], data: { toggle_target: "showHideElement" } %>

  <%# Clicking element will hide the clicked element and show another %>
  <%= button_tag "Click me to show the 2nd!", data: { action: "toggle#showHide", toggle_target: "showHideElement" } %>

  <%= button_tag "Click me to show the 1st!", data: { action: "toggle#showHide", toggle_target: "showHideElement" }, class: "hidden" %>

  <%# Clicking checkbox will highlight the parent of the checkbox %>

  <div id="checkbox-parent" data-toggle-target="highlightElement" data-target="highlightElement" >
    <%= label_tag "test-cb", "Click me to highlight parent!" %>
    <%= check_box_tag "test-cb", "test", false, data: { action: "click->toggle#highlight" } %>
  </div>

</div>

<div class="test" data-controller="text-validate" data-text-validate-ok-class="hidden">
  <%= text_field_tag "test-close-to-max-length", "Test getting close to max length", maxlength: 280, data: { action: "text-validate#checkNearingLimit", text_validate_target: "text" } %>
  <p data-text-validate-target="message">Running out of characters!</p>
</div>
